# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.tar.gz

# Log Files #
log/

# Upload Files #
upload_files/

#iml file
backend/brevity_server.iml


# Maven Files #
target/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ #
.idea/
*.iml

# Local Netlify folder
.netlify

backend/nlp/src/new/__pycache__/*

# Java stuff
.classpath
*.project
.settings

