html, body, #root, .App {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App .container {
  padding-top: 36px;
  padding-bottom: 40px;
  background-color: #fff;
}

.footer {
  margin-top: 40px;
  text-align: center;
  color: #888;
}