body {
  background-color: #eee;
  font-family: 'Source Sans Pro', sans-serif;
}

.App .container {
  padding-top: 36px;
  padding-bottom: 40px;
  background-color: #fff;
}

.navbar-brand {
  font-family: 'Bitter', serif;
  color: #1675c6;
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  margin-left: 10px;
}

.footer {
  margin-top: 60px;
  text-align: center;
  color: #888;
}