.chapter-selector-item {
    border: 1px solid #ccc;
    margin: 5px 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.chapter-selector-item .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter-selector-item:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chapter-selector-item .form-check-input {
    position: relative;
    margin-left: 1px;
}

.chapter-selector-item .form-check-label {
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.chapter-selector-item:hover .form-check-label {
    cursor: pointer;
}

.submit-btn {
    margin-top: 14px;
}